<section class="mt-5 pt-5 mb-5 pb-3">

<div class="row mb-5 pb-5">
    <div class="col-md-6 m-auto">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mt-5 pr-5">
                    <h2 class="pl-3" style="font-weight: 100;">Signup On StarKart</h2>
                    <h5 class="pt-3 pl-3" style="font-weight: 100;">It's quick and easy</h5>
                    <img class="mt-4" src="/images/logo1.png" width="300px" alt="">



                </div>
                <div class="col-md-6 mt-5">
                     <form action="/signup" method="post">
                <div class="form-group">
                    <label style="font-weight: 200;">Name</label>
                    <input type="text" class="form-control" name="Name"  placeholder="Enter name" required style="border: none; box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4); font-weight: 200;">
                </div>
                <div class="form-group">
                    <label style="font-weight: 200;">Email address</label>
                    <input type="email" name="Email" class="form-control"placeholder="Enter email" required style="border: none; box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4); font-weight: 100;">
                </div>
                <div class="form-group">
                    <label style="font-weight: 200;">Password</label>
                    <input type="password" name="Password" class="form-control" placeholder="Password" required style="border: none; box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);font-weight: 100;">
                </div>
                <a href="/login" style="color: blueviolet; font-weight: 200;">Already have an account?</a>
                <button type="submit" class="btn float-right" style="background-color: rgb(99, 23, 170); color:#ffff; border-radius:30px;">Signup</button>
            </form>

                </div>
            </div>
        
        </div>
    </div>
</div>
</section>